<h1>Todo List</h1>
<input type="text">
<div class="buttonContainer">
    <button class="clear">Remove Finished</button>
    <button>Add</button>
</div>
<div class="todoList">
    <app-todo></app-todo>
    <app-todo></app-todo>
    <app-todo></app-todo>
    <app-todo></app-todo>
    <app-todo></app-todo>
    <app-todo></app-todo>
    <app-todo></app-todo>
    <app-todo></app-todo>
    <app-todo></app-todo>
    <app-todo></app-todo>
    <app-todo></app-todo>
    <app-todo></app-todo>
    <app-todo></app-todo>
    <app-todo></app-todo>
    <app-todo></app-todo>
    <app-todo></app-todo>
    <app-todo></app-todo>
    <app-todo></app-todo>
    <app-todo></app-todo>
    <app-todo></app-todo>
    <app-todo></app-todo>
</div>
